Software/RDTabs/MRU.1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RDTabsMRU">
		<xs:complexType>
			<xs:all>
				<xs:element type="xs:int" name="ConfigVersion"/>
				<xs:element name="RDTabsMRU">
					<xs:complexType>
						<xs:all>
							<xs:element name="MRUServers">
								<xs:complexType>
									<xs:all>
										<xs:element name="MRUList">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="ComputerName" maxOccurs="unbounded" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:int" name="MaxMRUEntries"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>