Software/RDTabs/PersistentStorage.1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PersistentStorage">
		<xs:complexType>
			<xs:all>
				<xs:element type="xs:int" name="ConfigVersion"/>
				<xs:element name="PersistentStorage">
					<xs:complexType>
						<xs:all>
							<xs:element name="Collection">
								<xs:complexType>
									<xs:all>
										<xs:element name="Dictionary">
											<xs:complexType>
                        <xs:sequence>
                          <xs:element name="Pair" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Key"/>
                                <xs:element type="xs:string" name="Value"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>