Software/RDTabs/RemoteComputerInfo.1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RemoteComputerInfo">
		<xs:complexType>
			<xs:all>
				<xs:element type="xs:int" name="ConfigVersion"/>
				<xs:element name="RemoteComputerInfo">
					<xs:complexType>
						<xs:all>
              <xs:element type="xs:boolean" name="DelayNeeded" minOccurs="0" />
              <xs:element type="xs:dateTime" name="LastExitTimeStamp" minOccurs="0" />
            </xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>